.Footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100vw;
}

.Footer-logo {
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer-logo img {
  height: 4.65rem;
}

.Footer-social-link-block {
  display: flex;
  justify-content: center;
  filter: brightness(0.4);
}
.Footer-link {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.85rem;
  text-decoration: none;
  cursor: pointer;
}
.Footer-link:hover {
  color: rgb(68, 175, 238);
}

.Footer-social-link-block .App-social-link {
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer-copyright {
  padding: 1.6rem;
}

.Footer-copyright__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: -0.41px;
  color: #ffffff;
  display: block;
}
.Footer-links {
  display: flex;
  justify-content: center;
}
.Footer-links > a:not(:last-child),
.Footer-links > .a:not(:last-child) {
  padding-right: 2rem;
}

@media (max-width: 900px) {
  .Footer-social-link-block .App-social-link {
    margin: 0 1.6rem;
  }
}

@media (max-width: 580px) {
  .Footer-links {
    flex-direction: column;
  }
  .Footer-links > a {
    padding-right: 0;
    margin-bottom: 0.5rem;
  }
  .Footer-social-link-block {
    margin-bottom: 1.4rem;
  }
  .Footer-wrapper {
    padding-top: 2.5rem;
  }
  .home {
    height: 23rem;
  }
  .Footer-links > a:not(:last-child),
  .Footer-links > .a:not(:last-child) {
    padding-right: 0;
  }
  .Footer-social-link-block .App-social-link {
    margin: 0 0.8rem;
  }
}
