.DashboardV2-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.Eco-card {
  background: #1e1e1e;
  border: 1px solid #474747;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Eco-card h3 {
  font-size: 20px;
  margin: 5px;
}

.Eco-card span {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Eco-card a {
  min-width: 120px;
  justify-content: center;
  font-size: 15px;
  color: white !important;
  fill: white !important;
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 900px) {
  .DashboardV2-projects {
    grid-template-columns: 1fr;
  }
}
